body {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  /*padding-top: 1%;*/
  padding-bottom: 1%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /*background-color: #2b7a3a;*/
  background-color: #d0f7d7;
  border-radius: 15px;
}
.flex-container > div {
  /*background-color: #368a46;*/
  background-color: #d0f7d7;
  width: 100px;
  margin: 10px;
}
.flex-container > .leftcont {
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  flex-grow: 1;
}
.flex-container > .rightcont {
  text-align: left;
  padding-left: 2%;
  padding-right: 5%;
  flex-grow: 1;
}
.flex-container > .bigcont {
  padding-left: 10%;
  padding-right: 5%;
  flex-grow: 4;
  /*line-height: 75px;*/
  font-size: 30px;
}
.flex-container > .smallcont {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  flex-grow: 3;
  font-size: 30px;
}
/*h1, h2, h3, h4, h5 {*/
h1, h4 {
  text-align: center;
}
a.menu-entry {
}
a.menu-entry:link {
  text-decoration: none;
  color: black;
}

a.menu-entry:visited {
  text-decoration: none;
  color: black;
}

a.menu-entry:hover {
  text-decoration: underline;
    color: black;
}

a.menu-entry:active {
  text-decoration: underline;
  color: black;
}
#firstcont {
  padding-top: 10%;
}
